@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  color: hsl(278deg, 68%, 11%);
  position: relative;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid hsl(270deg, 3%, 87%);
  font-size: 1em;
  font-family: "Space Grotesk", sans-serif;
  padding: 16px;
  outline: none;
  display: inline-block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
input::-webkit-input-placeholder {
  color: hsl(270deg, 3%, 87%);
}

button {
  font-size: 1em;
  color: hsl(0deg, 0%, 100%);
  padding: 16px;
  border: none;
  background-color: hsl(278deg, 68%, 11%);
  cursor: pointer;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.main_header h1 {
  display: none;
}

.main_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  letter-spacing: 0.1em;
}
.main_content .card_template {
  background-image: url("../../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-basis: 30%;
  position: relative;
  pointer-events: none;
}
.main_content .card_template_front {
  position: absolute;
  top: 50%;
  left: unset;
  transform: translate(-20%, calc(-100% - 15px));
  right: -50%;
}
.main_content .card_template_front_bg {
  position: relative;
}
.main_content .card_template_front_bg_info {
  position: absolute;
  top: unset;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  padding: 30px;
}
.main_content .card_template_front_bg_info_number {
  flex-basis: 100%;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 10px;
}
.main_content .card_template_front_bg_info_name, .main_content .card_template_front_bg_info_exp_date {
  font-size: 0.8em;
}
.main_content .card_template_back {
  position: absolute;
  top: 50%;
  left: unset;
  transform: translate(0, calc(0% + 15px));
  right: -50%;
}
.main_content .card_template_back_bg {
  position: relative;
}
.main_content .card_template_back_bg_info {
  position: absolute;
  top: 50%;
  left: unset;
  transform: translate(-50%, -50%);
  right: 0;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  padding: 20px;
}
.main_content .card_template_back_bg_info_cvc {
  font-size: 0.8em;
}
.main_content .card_form {
  flex-basis: 70%;
  padding: 12% 12% 12% 24%;
  text-transform: uppercase;
}
.main_content .card_form_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main_content .card_form_content label {
  font-weight: 500;
  margin-bottom: 24px;
}
.main_content .card_form_content label span {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 0.8em;
}
.main_content .card_form_content label input {
  width: 100%;
}
.main_content .card_form_content_name, .main_content .card_form_content_number {
  flex-basis: 100%;
  display: block;
}
.main_content .card_form_content_exp_date {
  flex-basis: calc(50% - 20px);
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
}
.main_content .card_form_content_exp_date input {
  width: auto;
  flex-basis: calc(50% - 8px);
}
.main_content .card_form_content_cvc {
  flex-basis: calc(50% - 10px);
  margin-left: 10px;
  display: block;
}
.main_content .card_form_content_btn {
  flex-basis: 100%;
}
.main_content .card_form_content_btn button {
  width: 100%;
}

.attribution {
  position: absolute;
  top: unset;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
