@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  color: hsl(278deg, 68%, 11%);
  position: relative;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input {
  border: 1px solid hsl(270deg, 3%, 87%);
  font-size: 1em;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  color: hsl(278deg, 68%, 11%);
  padding: 16px;
  outline: none;
  display: inline-block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
input::-webkit-input-placeholder {
  color: hsl(270deg, 3%, 87%);
}

button {
  font-size: 1em;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.1em;
  padding: 16px;
  border: none;
  background-color: hsl(278deg, 68%, 11%);
  cursor: pointer;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.main_header h1 {
  display: none;
}

.main_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  .main_content {
    flex-direction: column;
  }
}
.main_content .card_template {
  background-image: url("../../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  flex-basis: 30%;
  position: relative;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .main_content .card_template {
    background-image: url("../../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.main_content .card_template_front {
  position: absolute;
  top: 50%;
  left: unset;
  transform: translate(-20%, calc(-100% - 15px));
  right: -50%;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .main_content .card_template_front {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-75%, 0);
    right: unset;
  }
}
@media screen and (max-width: 480px) {
  .main_content .card_template_front {
    position: absolute;
    top: 55%;
    left: 16px;
    transform: translate(0, 0);
  }
}
.main_content .card_template_front_bg {
  position: relative;
}
@media screen and (max-width: 768px) {
  .main_content .card_template_front_bg {
    width: 375px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 560px) {
  .main_content .card_template_front_bg {
    width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .main_content .card_template_front_bg > img {
    width: 375px;
  }
}
@media screen and (max-width: 1024px) {
  .main_content .card_template_front_bg > img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .main_content .card_template_front_bg > img {
    width: 375px;
  }
}
@media screen and (max-width: 560px) {
  .main_content .card_template_front_bg > img {
    width: 300px;
  }
}
.main_content .card_template_front_bg_logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 36%;
}
.main_content .card_template_front_bg_logo img {
  width: 100%;
}
.main_content .card_template_front_bg_info {
  position: absolute;
  top: unset;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  padding: 30px;
  width: 100%;
}
.main_content .card_template_front_bg_info_number {
  flex-basis: 100%;
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .main_content .card_template_front_bg_info_number {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 1024px) {
  .main_content .card_template_front_bg_info_number {
    font-size: 1em;
  }
}
.main_content .card_template_front_bg_info_name, .main_content .card_template_front_bg_info_exp_date {
  font-size: 0.8em;
}
@media screen and (max-width: 1024px) {
  .main_content .card_template_front_bg_info_name, .main_content .card_template_front_bg_info_exp_date {
    font-size: 0.6em;
  }
}
.main_content .card_template_back {
  position: absolute;
  top: 50%;
  left: unset;
  transform: translate(0, calc(0% + 15px));
  right: -50%;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .main_content .card_template_back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    right: unset;
  }
}
@media screen and (max-width: 480px) {
  .main_content .card_template_back {
    position: absolute;
    top: 50%;
    left: unset;
    transform: translate(0, -50%);
    right: 16px;
  }
}
.main_content .card_template_back_bg {
  position: relative;
}
@media screen and (max-width: 768px) {
  .main_content .card_template_back_bg {
    width: 375px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 560px) {
  .main_content .card_template_back_bg {
    width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .main_content .card_template_back_bg > img {
    width: 375px;
  }
}
@media screen and (max-width: 1024px) {
  .main_content .card_template_back_bg > img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .main_content .card_template_back_bg > img {
    width: 375px;
  }
}
@media screen and (max-width: 560px) {
  .main_content .card_template_back_bg > img {
    width: 300px;
  }
}
.main_content .card_template_back_bg_info {
  position: absolute;
  top: 50%;
  left: unset;
  transform: translate(-50%, -50%);
  right: 0;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  padding: 20px;
}
.main_content .card_template_back_bg_info_cvc {
  font-size: 0.8em;
}
@media screen and (max-width: 1024px) {
  .main_content .card_template_back_bg_info_cvc {
    font-size: 0.6em;
  }
}
.main_content .card_form {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12%;
  padding-right: 12%;
  padding-bottom: 12%;
  padding-left: 24%;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .main_content .card_form {
    padding-top: 24%;
    padding-right: 24%;
    padding-bottom: 12%;
    padding-left: 24%;
  }
}
@media screen and (max-width: 560px) {
  .main_content .card_form {
    padding: 30px;
  }
}
.main_content .card_form_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-height: 650px;
}
.main_content .card_form_content label {
  font-weight: 500;
  margin-bottom: 24px;
}
.main_content .card_form_content label span {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 0.8em;
  font-weight: 500;
}
.main_content .card_form_content label input {
  width: 100%;
}
.main_content .card_form_content_name, .main_content .card_form_content_number {
  flex-basis: 100%;
  display: block;
}
.main_content .card_form_content_exp_date {
  flex-basis: calc(50% - 20px);
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 6px;
  align-self: flex-end;
}
@media screen and (max-width: 1024px) {
  .main_content .card_form_content_exp_date {
    margin-right: 3px;
    flex-basis: calc(50% - 6px);
  }
}
.main_content .card_form_content_exp_date span {
  flex-basis: 100%;
}
.main_content .card_form_content_exp_date input {
  width: auto;
  flex-basis: calc(50% - 6px);
}
.main_content .card_form_content_cvc {
  flex-basis: calc(50% - 10px);
  margin-left: 10px;
  display: block;
  align-self: flex-end;
}
@media screen and (max-width: 1024px) {
  .main_content .card_form_content_cvc {
    margin-left: 3px;
    flex-basis: calc(50% - 6px);
  }
}
.main_content .card_form_content_btn {
  flex-basis: 100%;
}
.main_content .card_form_content_btn button {
  width: 100%;
}
.main_content .card_form_content input.error {
  border-color: hsl(0deg, 100%, 66%);
}
.main_content .card_form_content input:not(.error).valid, .main_content .card_form_content input:not(.error):focus, .main_content .card_form_content input:not(.error):hover {
  border-color: transparent;
  border-style: double;
  background-image: linear-gradient(to right, hsl(0deg, 0%, 100%), hsl(0deg, 0%, 100%)), linear-gradient(to right, hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%));
  background-origin: border-box;
  -moz-background-origin: border-box;
  -webkit-background-origin: border-box;
  background-clip: padding-box, border-box;
  -moz-background-clip: padding-box, border-box;
  -webkit-background-clip: padding-box, border-box;
}
.main_content .card_form_success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.main_content .card_form_success * {
  flex-basis: 100%;
  text-align: center;
}
.main_content .card_form_success_title {
  font-weight: 400;
}
.main_content .card_form_success_title h2 {
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}
.main_content .card_form_success_title p {
  text-transform: none;
  letter-spacing: normal;
  color: hsl(279deg, 6%, 55%);
}
.main_content .card_form_success_btn button {
  width: 100%;
}

.attribution {
  position: absolute;
  top: unset;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
  font-size: 11px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .attribution {
    text-align: right;
  }
}
@media screen and (max-width: 768px) {
  .attribution {
    text-align: center;
  }
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
