*, *::before, *::after {
    margin: 0;
    padding: 0;

    @include boxSizing;
}

body {
    @include fullContent;
    min-height: 100vh;
    
    font-size: $font-size-default;
    font-family: $font-space-grotesk;
    color: $color-very-dark-violet;

    @include relative;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input {
    border: 1px solid $color-light-grayish-violet;

    font-size: 1em;
    font-weight: 500;
    font-family: $font-space-grotesk;
    color: $color-very-dark-violet;

    padding: 16px;

    outline: none;
    display: inline-block;

    @include borderRadius;

    &::-webkit-input-placeholder {
        color: $color-light-grayish-violet;
    }
}

button {
    font-size: 1em;
    color: $color-white;
    letter-spacing: 0.1em;

    padding: 16px;
    border: none;
    background-color: $color-very-dark-violet;

    cursor: pointer;

    @include borderRadius;
}