*, *::before, *::after {
    margin: 0;
    padding: 0;

    @include boxSizing;
}

body {
    @include fullContent;
    min-height: 100vh;
    
    font-size: $font-size-default;
    font-family: $font-space-grotesk;
    color: $color-very-dark-violet;
}

a {
    text-decoration: none;
}