.main_content {
    @include absoluteFull;
    @include flex(flex-start, stretch, nowrap);
    
    letter-spacing: 0.1em;

    .card {
        &_template {
            @include backgroundImage("../../images/bg-main-desktop.png");
            @include flexBasis(30%);

            @include relative;

            pointer-events: none;

            &_front {
                @include absoluteDisplace(50%, unset, -20%, calc(-100% - 15px));
                right: -50%;

                &_bg {
                    @include relative;

                    & > img {
                        @include setResponsiveDesign(1200px) {
                            width: 375px;
                        }
                    }

                    &_logo {
                        @include absolute;
                        padding: 30px;
                        width: 36%;

                        img {
                            width: 100%;
                        }
                    }

                    &_info {
                        @include absolute(unset, 0);
                        bottom: 0;
                        
                        @include flex(space-between, flex-end, wrap);

                        color: $color-white;
                        text-transform: uppercase;

                        padding: 30px;

                        &_number {
                            @include flexBasis(100%);

                            font-size: 1.6em;
                            font-weight: 500;
                            margin-bottom: 10px;

                            @include setResponsiveDesign(1200px) {
                                font-size: 1.4em;
                            }
                        }

                        &_name, &_exp_date {
                            font-size: 0.8em;
                        }
                    }
                }
            }

            &_back {
                @include absoluteDisplace(50%, unset, 0, calc(0% + 15px));
                right: -50%;

                &_bg {
                    @include relative;

                    & > img {
                        @include setResponsiveDesign(1200px) {
                            width: 375px;
                        }
                    }

                    &_info {
                        @include absoluteDisplace(50%, unset, -50%, -50%);
                        right: 0;

                        color: $color-white;
                        text-transform: uppercase;

                        padding: 20px;

                        &_cvc {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    
        &_form {
            @include flexBasis(70%);
            @include flex;

            padding: 12% 12% 12% 24%;

            text-transform: uppercase;

            &_content {
                @include flex(space-between);

                max-height: 650px;

                label {
                    font-weight: 500;
                    margin-bottom: 24px;
    
                    span {
                        display: inline-block;
                        margin-bottom: 12px;
                        font-size: 0.8em;
                    }
    
                    input {
                        width: 100%;
                    }
                }

                &_name, &_number {
                    @include flexBasis(100%);
                    display: block;
                }

                &_exp_date {
                    @include flexBasis(50%, 20px);
                    margin-right: 10px;

                    @include flex(space-between, center, wrap);
                    column-gap: 6px;

                    @include setResponsiveDesign(1200px) {
                        font-size: 0.8em;
                    }

                    span {
                        @include flexBasis(100%);
                    }

                    input {
                        width: auto;
                        @include flexBasis(50%, 6px);
                    }
                }

                &_cvc {
                    @include flexBasis(50%, 10px);
                    margin-left: 10px;
                    display: block;

                    @include setResponsiveDesign(1200px) {
                        font-size: 0.8em;
                    }
                }

                &_btn {
                    @include flexBasis(100%);

                    button {
                        width: 100%;
                    }
                }

                input {
                    &.error {
                        border-color: $color-red-input-errors;
                    }

                    &.valid, &:focus, &:hover {
                        border-color: transparent;
                        border-style: double;

                        background-image:
                            linear-gradient(to right, $color-white, $color-white),
                            linear-gradient(to right, $color-linear-gradient-active-input-border);

                        @include setBrowserCores(background-origin, border-box);
                        @include setBrowserCores(background-clip, (padding-box, border-box));
                    }
                }
            }

            &_success {
                display: none !important;
                @include flex;
                gap: 40px;

                & * {
                    @include flexBasis(100%);
                    text-align: center;
                }

                &_title {
                    font-weight: 400;

                    h2 {
                        margin-bottom: 20px;
                    }
                }

                &_btn {
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}