.main_content {
    @include fullContent;
    @include absoluteFull;
    @include flex(flex-start, stretch, nowrap);

    .card {
        &_template {
            @include backgroundImage("../../images/bg-main-desktop.png");
            @include flexBasis(30%);

            @include relative;

            pointer-events: none;

            &_front {
                @include absoluteDisplace(50%, unset, -20%, calc(-100% - 15px));
                right: -50%;

                &_bg {
                    @include relative;

                    &_info {
                        @include absolute(unset, 0);
                        bottom: 0;
                        
                        @include flex(space-between, flex-end, wrap);

                        color: $color-white;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;

                        padding: 30px;

                        &_number {
                            @include flexBasis(100%);

                            font-size: 1.6em;
                            margin-bottom: 10px;
                        }

                        &_name, &_exp_date {
                            font-size: 0.8em;
                        }
                    }
                }
            }

            &_back {
                @include absoluteDisplace(50%, unset, 0, calc(0% + 15px));
                right: -50%;

                &_bg {
                    @include relative;

                    &_info {
                        @include absoluteDisplace(50%, unset, -50%, -50%);
                        right: 0;

                        color: $color-white;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;

                        padding: 20px;
                    }
                }
            }
        }
    
        &_form {
            @include flexBasis(70%);
        }
    }
}